covid-batch/src/main/resources/xsd/CovidBaseInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resultCode" type="xs:unsignedByte" />
              <xs:element name="resultMsg" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="basic" type="xs:string" />
                          <xs:element name="continent" type="xs:string" />
                          <xs:element name="countryEnName" type="xs:string" />
                          <xs:element name="countryName" type="xs:string" />
                          <xs:element name="id" type="xs:unsignedShort" />
                          <xs:element name="imgUrl" type="xs:string" />
                          <xs:element name="wrtDt" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="numOfRows" type="xs:unsignedByte" />
              <xs:element name="pageNo" type="xs:unsignedByte" />
              <xs:element name="totalCount" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>